@tailwind base;
@tailwind components;
@tailwind utilities;
.form-row {
    display: flex;
    justify-content: space-between;
}

.first, .second {
    flex-basis: 48%;
}

.form-label {
    min-width: 130px;
    margin-right: 0.5rem;
}